# Dependencies
node_modules/

# Testing
coverage/

# Turbo
.turbo

# Build Outputs
.next/
out/
build/
dist/

# Debug
npm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
