* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

:root {
    --margin-s: 4px;
    --margin-m: 8px;
    --margin-l: 12px;

    --padding-s: 4px;
    --padding-m: 8px;
    --padding-l: 12px;

    --color-1: #22223b;
    --color-2: #4a4e69;
    --color-3: #9a8c98;
    --color-4: #c9ada7;
    --color-5: #f2e9e4;
}

.--margin-inline-start-s {
    margin-inline-start: var(--margin-s);
}
.--margin-inline-end-s {
    margin-inline-end: var(--margin-s);
}

.--margin-inline-start-m {
    margin-inline-start: var(--margin-m);
}
.--margin-inline-end-m {
    margin-inline-end: var(--margin-m);
}

.--margin-inline-start-l {
    margin-inline-start: var(--margin-l);
}
.--margin-inline-end-l {
    margin-inline-end: var(--margin-l);
}
